<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>{{ titulo }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/contenedor-acompañante.css">
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/style.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

	<!-- Header -->
	{{> header}}

	<!-- Nav -->
	{{> narvbar}}

	<!-- Banner -->
	<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->

	<section id="banner" class="bg-img" data-bg="banner.jpg">
		<div class="inner">
			<header>
				<h1>Buquealtoque</h1>
			</header>
		</div>
		<a href="#one" class="more">Learn More</a>
	</section>

	<!-- One -->
	<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
		<div class="inner">
			<form>
				<div class="mb-3">
					<h3>Iniciar sesión</h3>

					<label for="exampleInputEmail1" class="form-label">Email address</label>
					<input type="email" class="form-control" id="emaillogin" aria-describedby="emailHelp">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input type="password" class="form-control" id="password">
				</div>

				<button id="buttonLogin" type="submit" class="btn btn-primary">Ingresar</button>
			</form>

		</div>
		<a href="#two" class="more">Learn More</a>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
		<div class="inner">
			<article class="box">
				<header>
					<h2>Pasajes</h2>
				</header>
				<form id="formulario">
					<div class="ida-vuelta">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
								checked>
							<label class="form-check-label" for="flexRadioDefault1">
								Ida y vuelta
							</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
							<label class="form-check-label" for="flexRadioDefault2">
								Solo ida
							</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
							<label class="form-check-label" for="flexRadioDefault3">
								Salgo desde Uruguay
							</label>
						</div>
					</div>
					<div class="datos-viaje">
						<div class="item" id="item1">
							<select id="selectOrigen" class="form-select inline " aria-label="Default select example">
								<option selected>Elegí origen</option>
								<option id="value1" value="1">Tigre</option>
								<option id="value2" value="2">Puerto Madero</option>
							</select>
						</div>
						<div class="item" id="item2">
							<select id="selectDestino" class="form-select " aria-label="Default select example">
								<option selected>Elegí destino</option>
								<option id="value1" value="1">Montevideo</option>
								<option id="value2" value="2">Punta Del Este </option>
							</select>
						</div>

						<div class="item" id="item3">
							<input id="startDate" class="form-control" type="date" />
						</div>

						<div class="item" id="item4">
							<input id="startDate2" class="form-control" type="date" />
						</div>


						<div class="item" id="item5">
							<select id="selectPasajeros" class="form-select" aria-label="Default select example">
								<option selected>Pasajeros</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="3">4</option>
								<option value="3">Más de 4</option>
							</select>
						</div>
					</div>
					<div class="contenedor-acompañante">
						<div class="contenedor-menores">
							<div class="contenedor-adulto-basico">
								<span>Menores Basico </span><input type="number" min="0">
							</div>
							<div class="contenedor-adulto-medio">
								<span>Menores Medium </span><input type="number" min="0">
							</div>
							<div class="contenedor-adulto-premium">
								<span>Menores Premium </span> <input type="number" min="0">
							</div>
								
						</div>
						<div class="contenedor-mayores">
							<div class="contenedor-adulto-basico">
								<span>Adultos Basico </span><input type="number" min="0">
							</div>
							<div class="contenedor-adulto-medio">
								<span>Adultos Medium </span><input type="number" min="0">
							</div>
							<div class="contenedor-adulto-premium">
								<span>Adultos Premium </span> <input type="number" min="0">
							</div>
						</div>
					</div>


					<!-- aca -->
					<div class="botones">
					<button id="botonBuscar" type="button" class="btn btn-primary enabled">Buscar</button>
					<button id="botonVolverAbuscar" type="button" class="btn btn-primary disabled" >volver a buscar</button>
					</div>

				</form>

				<div id="resultado">

				</div>

			</article>
		</div>
		<a href="#four" class="more">Learn More</a>
	</section>



	<!-- Four -->
	<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
		<div class="inner">
			<article class="box">
				<header>
					<h2>Day tours</h2>
					<p>Escapadas durante el dia</p>
				</header>
				<form id="formulario2">



					<div>
						<div class="item" id="item1daytour">
							<select id="selectOrigenDaytour" class="form-select inline "
								aria-label="Default select example">
								<option selected>Elegí destino</option>
								<option value="1">atlantida</option>
								<option value="2">carmelo</option>
								<option value="3">colonia del sacramento</option>
								<option value="4">colonia suiza</option>
							</select>
						</div>

						<div class="item" id="item2daytour">

							<select id="selectPasajerosDaytour" class="form-select inline "
								aria-label="Default select example">
								<option selected>Cantidad de pasajeros</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="4">Más de 4</option>
							</select>

						</div>


						<div class="item" id="item4daytour">
							<input id="startDate3" class="form-control" type="date" />
						</div>


					</div>

					<button id="botonBuscar2" type="button" class="btn btn-primary">Buscar</button>

				</form>

				<div id="resultadoDayTour">

				</div>

			</article>
		</div>
	</section>

	<!-- Footer -->
	{{> footer}}


	<script src="assets/js/control-pasajes.js"></script>
	<script src="assets/js/validacion-hardcodeada.js"></script>
</body>

</html>