#selectDestino, #selectOrigen, #selectPasajeros{
    width: 150px;
    height: 50px;
}
h4{
    font-size: 10px;
}
.efect{
    color: white;
   
    -webkit-box-shadow: 2px -3px 15px 12px rgba(0,0,0,0.31); 
    box-shadow: 2px -3px 15px 12px rgba(0,0,0,0.31);
}

#formulario, #formulario2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.datos-viaje {
    display: flex;
   justify-content: center;
   
  }

@media (max-width: 480px) {
    .datos-viaje {
        display: flex;
        flex-direction: column;
      }
      
      #formulario .datos-viaje .item > * {
        min-width: 100%;
        margin: 10px auto;
      }
      #formulario2 .datos-viaje .item > * {
        
        width: 100%;
        margin: 10px auto;
      } 
      .contenedor-acompañante{
        display: flex;
        flex-direction: column;
      }
    
  }

#botonBuscar, #botonBuscar2{
    flex: 1;
    height: 50px;
    width: 100px;
    margin: 0 auto;
}

#item2 {
    padding-left: 15px;
    padding-right: 15px;
}


#startDate2, #startDate  {
    width: 100px;
    height: 50px;
}


.item {
    float: left;
}

#botonBuscar2{
    height: 60px;
    width: 120px;
   
}
.disabled{
    pointer-events: none;
  }
  .enabled{
    pointer-events: fill;
  }

#item2, #item3, #item4 {
    padding-right: 15px;
    
}

#item1daytour, #item2daytour{
    padding-right: 15px;
}
.datos-viaje .form-control{
    width: auto;
}
/* #item4daytour{
    width: 100px;
    height: 60px;
} */

#startDate3{
    width: 100px;
    height: 60px;
}


#selectOrigenDaytour, #selectPasajerosDaytour {
    width: 250px;
    height: 60px;
}
.basicoDaytour{
    display: flex;
    justify-content: center;
}

.botones{
    margin-top: 20px;
}
